/* visualization */
.visualization {
    text-align:center;
}

.visualization-parts {
    display: inline-block;
    vertical-align: top;
}

.visualization-parts svg {
    display: block;
    margin: 0 auto;
}

/* selection, highlight, deemphasis */
rect.selected, rect.highlighted{
  stroke: #000;
  stroke-width: 1px;
}

text.selected {
  font-weight: bold !important;
}

path.selected {
  stroke-width: 1px !important;
}

rect.deemphasized, text.deemphasized, path.deemphasized{
  opacity: 0.5;
  transition: opacity 0.5s;
}

rect.selected, text.selected, path.selected{
  opacity: 1;
  transition: opacity 0.5s;
}

/* mapbox gl */
.mapbox-container {
  width: 90%;
  height: 600px;
  margin: 0 auto;
}

.mapboxgl-popup-content {
  max-height: 500px !important;
  overflow: auto !important;
  background-color: rgba(255,255,255,0.95) !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) !important;
  border-radius: 4px !important;
}

.marker {
  width:50px;
  height:50px;
  cursor:pointer;
}

#legend {
  width: 300px;
  height: 80px;
}

/* fuel filter: resource mix and plant-level map */
.fuel {
  cursor:pointer;
  margin:0;
  border-radius: 5px;
}

.fuel:hover{
  background: #eee;
  transition: background 0.5s;
}

.fuel.selected {
  background: #ddd;
}

/* resource mix */
.resource_mix_bars{
  cursor:pointer;
}

/* table */
.selected td {
  font-weight: bold;
}

tbody tr {
  line-height: 1;
}

/* barchart sort */
.btn{
  font-size: 0.8em !important;
  font-weight: bold !important;
  padding: 5px !important;
}
.btn-primary {
  color: #fff !important;
  background-color: #ddd !important;
  border-color: #000 !important;
}

.btn-primary.active {
  color: #000 !important;
  background-color: #fff !important;
}

/* barchart labels */
.labels {
  font-size:0.8em;
}




