.visualization {
    text-align:center;
}

.visualization-parts {
    display: inline-block;
    vertical-align: top;
}

.visualization-parts svg {
    display: block;
    margin: 0 auto;
}

.mapbox-container {
  width: 90%;
  height: 600px;
  margin: 0 auto;
}

.fuel {
  cursor:pointer;
  margin:0;
  border-radius: 5px;
  transition: background 0.5s;
}

.fuel:hover{
  background: #eee;
}

.fuel.selected {
  background: #ddd;
}

.axis text {
  font-weight: bold;
}

.labels {
  font-size:0.8em;
}

.btn{
  font-size: 0.8em !important;
  font-weight: bold !important;
  padding: 5px !important;
}
.btn-primary {
  color: #fff !important;
  background-color: #ddd !important;
  border-color: #000 !important;
}

.btn-primary.active {
  color: #000 !important;
  background-color: #fff !important;
}

