.visualization {
    text-align:center;
}

.visualization-parts {
    display: inline-block;
}

.visualization-parts svg {
    display: block;
    margin: 0 auto;
}

.mapbox-container {
  width: 90%;
  height: 600px;
  margin: 0 auto;
}