.app {
  font-family: Meriweather, Georgia, Cambria, "Times New Roman" , Times, serif !important;
  font-size: 20px;
  width: 100%;
  max-width: 1580px;
  margin: 0 auto;
}

.app header {
  min-height: 80px;
}

.app h2 {
  display: inline-block;
  max-width: 64%;
  vertical-align: middle;
}

.app .modal-title {
  font-size: 1.5em !important;
}

.app p {
  display: block;
  font-weight: bold;
  font-size: 1em;
}

.app #logo {
  width: 20%;
  vertical-align: bottom;
}

.app table, .app th, .app td, .modal-body table, .modal-body th, .modal-body td {
  border: 1px solid black;
}

.app th, .modal-body th{
  background-color: #f1f1f1;
  font-weight: 700;
}

.app select {
  background: #0071bc;
  color: #fff;
  word-wrap: break-word !important;
  margin: 0 !important;
  padding: 0 !important;
}

.app fuel {
  padding: 0 1px 5px 1px;
}

.loading div{
  width: 50px;
  height: 50px;
  color: #0071bc !important;
  display: block;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
}

/* mapbox */
.app .mapboxgl-ctrl-group button {
  width: 29px !important;
  height: 29px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
}

.app .mapboxgl-popup-content {
  font-size: 1.2em;
  font-weight: bold;
}

.app .mapboxgl-popup-close-button {
  color: #000 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.app .map-zoomable-legend-title, .map-static-legend-title {
  font-size: 1.2em;
  font-weight: bold;
}

@media print {
  .app .no-export, .app .no-export svg, .app .mapboxgl-ctrl{
    display: none;
  }

  .app .fuel.selected circle {
    stroke: #000;
    stroke-width: 2px;
  }

  .app .fuel.selected text {
    font-weight: "bold";
    font-size: 1.2em;
  }

  .app #map-zoomable .fuel {
    width: 90px;
    height: 10px;
  }

  .app #vertical-barchart {
    margin-top: 40px;
  }
  
  .app table {
    border-style: unset;
    border: 1px solid black;
    display: block;
  }

  .app .map-container {
    width: 800px;
    display: block;
  }
}