/* Visualization */
.visualization {
    text-align:center;
}

.visualization-parts {
    display: inline-block;
    vertical-align: top;
}

.visualization-parts svg{
    display: block;
    margin: 0 auto;
}

/* General: axis, labels, selection, highlight, deemphasis */
.axis_x>.tick>text {
  text-anchor: start;
}

.labels {
  font-size:0.8em;
}

rect.selected, rect.highlighted{
  stroke: #000;
  stroke-width: 1px;
}

text.selected {
  font-weight: bold !important;
}

path.selected {
  stroke-width: 1px !important;
}

rect.deemphasized, text.deemphasized, path.deemphasized{
  opacity: 0.5;
  transition: opacity 0.5s;
}

rect.selected, text.selected, path.selected{
  opacity: 1;
  transition: opacity 0.5s;
}

/* Zoomable Map (Mapbox GL) */
#map_static, #map_zoomable {
  width: 90%;
  margin: 0 auto;
}
.map_container {
  height: 600px;
}

.fuels_selection {
  height: 80px;
}

.mapboxgl-popup-content {
  max-height: 500px !important;
  overflow: auto !important;
  background-color: rgba(255,255,255,0.95) !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) !important;
  border-radius: 4px !important;
}

.marker {
  width:50px;
  height:50px;
  cursor:pointer;
}

#legend {
  width: 300px;
  height: 80px;
}

/* Fuel Filter (resource mix and plant-level map) */
.fuel {
  cursor:pointer;
  margin:0;
  border-radius: 5px;
}

.fuel:hover{
  background: #eee;
  transition: background 0.5s;
}

.fuel.selected {
  background: #ddd;
}

.reset {
  opacity: 0.5 !important;
}

.reset:hover {
  cursor: not-allowed;
}

.reset_clickable {
  opacity: 1 !important;
}

.reset_clickable:hover {
  cursor: pointer !important;
}

/* Resource Mix Specific */
.resource_mix_bars{
  cursor:pointer;
}

/* Table */
.selected td {
  font-weight: bold;
}

tbody tr {
  line-height: 1;
}

@media print {

}